{{- with .cxt }} {{/* Apply proper context from dict */}}
{{- if (and .Params.cover.image (not $.isHidden)) }}
{{- $alt := (.Params.cover.alt | default .Params.cover.caption | default "cover image") }}
<figure class="entry-cover">
    {{- $responsiveImages := (.Resources.ByType "image").GetMatch (printf "**%s" (.Params.cover.image)) }}
    {{- if $responsiveImages }}
        {{- $responsiveImages := $responsiveImages.Resize "720x" }}
        <img loading="lazy" src="{{ $responsiveImages.Permalink }}" alt="{{ $alt }}">
    {{- else }}
        {{- $img := .Params.cover.image }}
        {{- $isRelative := .Params.cover.relative | default false }}
        
        {{/* Logic to handle static vs relative images */}}
        {{- if $isRelative }}
            {{- $img = printf "%s%s" .Permalink $img }}
        {{- else }}
            {{- if not (hasPrefix $img "/") }}
                {{- $img = $img | absURL }}
            {{- else }}
                {{- $img = $img | absURL }}
            {{- end }}
        {{- end }}
        
        <img loading="lazy" src="{{ $img }}" alt="{{ $alt }}">
    {{- end }}
    {{- /* Display Caption if available */}}
    {{- if .Params.cover.caption }}
    <p>{{ .Params.cover.caption | markdownify }}</p>
    {{- end }}
</figure>
{{- end }}
{{- end }}
