.page-footer {
    display: flex;
    justify-content: center;
    margin-top: 40px; /* Separates buttons from the bottom of the grid */
    width: 100%;
}

.page-footer a {
    background: var(--entry);
    border: 1px solid var(--border);
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.page-footer a:hover {
    background: var(--tertiary); /* Highlight color on hover */
}
